<% provide(:title, "Home") %>
<!DOCTYPE html>

<html>

<head>
  <meta charset="UTF-8">
  <link href='http://fonts.googleapis.com/css?family=Lato:400,300|Merriweather:400&effect=outline' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" type="text/css" href="stylesheets/default.css">
  <link rel="icon" href="favicon.ico">
</head>

<body>
  
  <header>
    <h1><a href="#">chris<div class="punctuation">-</div>graf<div class="punctuation">.</div>io</a></h1>
    <nav>
    </nav>
  </header>

    <div class="link-array">
      <div class="img-box">
        <a href="blog/about.html">
            <img src="blog/imgs/coffee.png" />
            <div class="font-effect-outline">
              <h1>About</h1>
            </div>
        </a>
      </div>
      <div class="img-box">
        <a href="blog/index.html">
            <img src="blog/imgs/typewriter.png" />
            <div class="font-effect-outline">
              <h1>Blog</h1>
            </div>
        </a>
      </div>

      <div class="img-box">
        <a href="projects.html">
            <img src="blog/imgs/engines.png" />
            <div class="font-effect-outline">
              <h1>Projects</h1>
            </div>
        </a>
      </div>

      <div class="img-box">
        <a href=#>
            <img src="blog/imgs/news.png" />
            <div class="font-effect-outline">
              <h1>Media</h1>
            </div>
        </a>
      </div>

      <div class="img-box">
        <a href="resume.html">
            <img src="blog/imgs/rotary.png" />
            <div class="font-effect-outline">
              <h1>Resume</h1>
            </div>
        </a>
      </div>

    </div>
  <footer>
    <div class="social-links">
      <a href="https://www.gmail.com">
          <img src="blog/imgs/icons/facebook-48x48.png" />
      </a>
      <a href="https://twitter.com/grafplots">
          <img src="blog/imgs/icons/twitter-48x48.png" />
      </a>
      <a href="https://www.linkedin.com/">
          <img src="blog/imgs/icons/linkedin-48x48.png" />
      </a>
      <a href="https://github.com/chris-graf/">
          <img src="blog/imgs/icons/github-48x48.png" />
      </a>
      <a href="https://plus.google.com/u/0/+ChrisGraf0/posts">
          <img src="blog/imgs/icons/google+-48x48.png" />
      </a>
      <a href="https://www.gmail.com">
          <img src="blog/imgs/icons/email-48x48.png" />
      </a>
    </div>
  </footer>

</body>

</html>