<!DOCTYPE html>

<html>

<head>
  <meta charset="UTF-8">
  <link href='http://fonts.googleapis.com/css?family=Lato:400,300|Merriweather:400&effect=outline' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" type="text/css" href="stylesheets/default.css">
  <link rel="icon" href="favicon.ico">
</head>

<body>
  

</body>

</html>