/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
/* colors

  -london lamplight-
  #556  #546;
  #978  #a68;
  #c97  #f84;
  #eee  #dee;
  #cca  #cca;

*/

/* global */

/* colors

  -london lamplight-
  #556  #546;
  #978  #a68;
  #c97  #f84;
  #eee  #dee;
  #cca  #cca;

*/

/* global */

* {
  margin: 0px;
  padding: 0px;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  background: white;
  font-family: 'Lato', 'Open Sans', serif;
  font-weight: 400;
}

a, a:visited {
  text-decoration: none;
  color: inherit;
}

header {
  background: #556;
  margin: 0 auto;
  width: 100%;
  height: 100px;
  position: relative;
}

header h1, footer h1 {
  color: #dee;
  line-height: 100px;
  position: absolute;
  vertical-align: middle;
  width: 100%;
  text-align: center;
  font-weight: 300;
  font-size: 4em;
  z-index: 10;
}

header h1 .punctuation {
  color: #c97;
  display: inline-block;
}

a:hover .punctuation {
  color: #f84;
}

nav {
  background: #978;
  width: 100%;
  position: absolute;
  height: 25px;
  bottom: 0;
  z-index: 5;
}


.link-array {
  width: 100%;
  max-width: 1250px;
  margin: 2% auto;
  position: relative;
  opacity: 0.75
}

.img-box {
  display: inline-block;
  position: relative;
  width: 19%;
  max-width: 240px;
  height: 60px;
  overflow: hidden;
  text-align: center;
  margin: auto;
  background: #dee;
  border-style: solid;
  border-width: 0.5%;
  border-color: #dee;
  border-radius: 30px;
  opacity: inherit;
}

.img-box img {
  position: relative;
}

.img-box h1 {
  top: 0;
  padding: 15px 0;
  width: 100%;
  height: 100%;
  position: absolute;
  color: #dee;
}

.img-box:hover {
  opacity: 1.0;
  background: black;
  border-color: black;
}

.img-box h1:hover {
  color: white;
}

footer {
  background: #556;
  position: absolute;
  margin: 0 auto;
  width: 100%;
  height: 100px;
  bottom: 0px;
  font-size: 40%;
}

.social-links {
  width: 500px;
  margin: auto;
}

footer a {
  position: relative;
  height: 48px;
  width: 48px;
  display: inline-block;
  margin: 25px 15px;
}

footer img {
  width: 48px;
  height: 48px;
}
